body{
  background-image: url('./assets/decorative_background_with_elegant_mandala_design_2908.jpg');
  background-size: cover;
  background-position: center;
}
@media (max-width: 768px) {
  body{
    background-image: url('./assets/elegant_gold_and_black_background_with_decorative_mandala_design_1103.jpg');
  }
}
input{
  border-radius: 8px;
  height: 40px;
  border: 2px solid #F4DD84;
  padding:  10px;
  background-color: #212121;
  color: #F4DD84 !important;
  
}
input:disabled{
  background-color: #212121;
}
input:focus{
  border: 2px solid rgb(165,123,46);
}
button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(165,123,46);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: rgb(165,123,46) !important;
  color: #fff !important;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  background: rgb(165,123,46);
  box-shadow: 0 0 30px 5px rgba(165,123,46, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
